In [1]:
import pyspark
from pyspark.sql.session import SparkSession

In [2]:
import os
os.getcwd()

'/home/dryguz/PycharmProjects/kaggle-avazu'

In [3]:
from utils.constans import timestamp_fields, date_fields, long_fields, string_fields
from utils.constans import streaming_data_path
from utils.utils import define_schema

### declare spark driver

In [4]:
spark = SparkSession.builder.appName('avazu').getOrCreate()

### read raw state of data

In [5]:
data = spark.read.parquet(streaming_data_path)

### get sense of data
show describtion, 10 first rows, etc.

In [6]:
describtion_of_data = data.describe()

In [8]:
#describtion_of_data.show()
describtion_of_data.toPandas()

,summary,id,click,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21,time
0,count,2792472,2792472,2792472,2792472,2792472,2792472,2792472,2792472,2792472,...,2792472,2792472,2792472,2792472,2792472,2792472,2792472,2792472,2792472,2792472
1,mean,9.2204200873447229E18,0.16905272461102563,1004.9804757218694,0.2591402886045053,Infinity,Infinity,Infinity,Infinity,Infinity,...,0.23537926253154912,18527.9714643513,318.6291243027683,57.97050427005177,2077.484492592943,1.5604908482520148,188.98843712667485,47385.18662067158,72.8837904193847,6.564360896008984
2,stddev,5.325998259874772E18,0.3747985475120334,1.0214446865163525,0.4656938076458814,NaN,NaN,NaN,NaN,NaN,...,0.7057720864994927,4028.0650578743353,19.496907053358353,42.30610376029878,504.6233682163917,1.3558337439207833,295.68855839643834,49983.24926543497,52.114289229249685,3.7099810127439974
3,min,10000000044159089252,0,1001,0,00255fb4,005b495a,0569f928,000d6291,002e4064,...,0,10289,1024,1024,1008,0,1063,-1,100,0
4,max,9999995711060789250,1,1012,7,fffe8e1c,fff602a2,f66779e6,fff4213a,fd68cbd8,...,5,9805,768,90,937,3,943,100248,95,13

show() prints results in style of terminal output, which is badly formated in Jupyter

toPandas() works here much better

In [9]:
#data.show(10)
data.limit(10).toPandas()

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,C14,C15,C16,C17,C18,C19,C20,C21,date,time
0,13297533843670840746,0,2014-10-21 15:00:00,1005,0,85f751fd,c4e18dd6,50e219e0,c3f39675,2347f47a,...,21665,320,50,2493,3,35,-1,117,2014-10-21,13
1,13297577797478686084,0,2014-10-21 15:00:00,1002,0,ec1aa5a1,42fb0c49,50e219e0,ecad2386,7801e8d9,...,6362,300,50,544,3,39,-1,23,2014-10-21,13
2,1329769213042235300,0,2014-10-21 15:00:00,1005,0,85f751fd,c4e18dd6,50e219e0,de23f149,ae637522,...,21751,320,50,2505,0,169,100176,17,2014-10-21,13
3,1329775463088202312,0,2014-10-21 15:00:00,1002,0,acaf2eb1,8fde8a32,50e219e0,ecad2386,7801e8d9,...,5296,320,50,479,3,39,-1,23,2014-10-21,13
4,13298219738036891807,1,2014-10-21 15:00:00,1005,0,85f751fd,c4e18dd6,50e219e0,3e2bf98d,2347f47a,...,19776,320,50,2229,0,687,100031,48,2014-10-21,13
5,13298231773852026679,0,2014-10-21 15:00:00,1005,0,85f751fd,c4e18dd6,50e219e0,54c5d545,2347f47a,...,17017,320,50,1873,3,39,-1,23,2014-10-21,13
6,1329827500841471015,0,2014-10-21 15:00:00,1005,0,85f751fd,c4e18dd6,50e219e0,7c7508aa,885c7f3f,...,19776,320,50,2229,0,687,100031,48,2014-10-21,13
7,13298288393156788219,1,2014-10-21 15:00:00,1005,0,85f751fd,c4e18dd6,50e219e0,febd1138,82e27996,...,16685,320,50,1092,3,1835,100156,61,2014-10-21,13
8,13298354081197763484,0,2014-10-21 15:00:00,1005,1,b554a32a,7e091613,f028772b,ecad2386,7801e8d9,...,19146,320,50,2181,0,169,100156,111,2014-10-21,13
9,13298387909533154437,0,2014-10-21 15:00:00,1005,0,85f751fd,c4e18dd6,50e219e0,2c6f5c4d,2347f47a,...,19251,320,50,2201,3,35,-1,43,2014-10-21,13

In [10]:
data.printSchema()

root
 |-- id: string (nullable = true)
 |-- click: long (nullable = true)
 |-- hour: timestamp (nullable = true)
 |-- C1: string (nullable = true)
 |-- banner_pos: string (nullable = true)
 |-- site_id: string (nullable = true)
 |-- site_domain: string (nullable = true)
 |-- site_category: string (nullable = true)
 |-- app_id: string (nullable = true)
 |-- app_domain: string (nullable = true)
 |-- app_category: string (nullable = true)
 |-- device_id: string (nullable = true)
 |-- device_ip: string (nullable = true)
 |-- device_model: string (nullable = true)
 |-- device_type: string (nullable = true)
 |-- device_conn_type: string (nullable = true)
 |-- C14: string (nullable = true)
 |-- C15: string (nullable = true)
 |-- C16: string (nullable = true)
 |-- C17: string (nullable = true)
 |-- C18: string (nullable = true)
 |-- C19: string (nullable = true)
 |-- C20: string (nullable = true)
 |-- C21: string (nullable = true)
 |-- date: date (nullable = true)
 |-- time: integer (nullable = true)

In [11]:
print('timestamp_fields: ',timestamp_fields)
print('date_fields: ', date_fields)
print('long_fields: ', long_fields)
print('string_fields: ', string_fields)

timestamp_fields:  ['hour']
date_fields:  ['date']
long_fields:  ['click', 'time']
string_fields:  ['id', 'C1', 'banner_pos', 'site_id', 'site_domain', 'site_category', 'app_id', 'app_domain', 'app_category', 'device_id', 'device_ip', 'device_model', 'device_type', 'device_conn_type', 'C14', 'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'C21']

In [13]:
schema = define_schema()
data = spark.read.option("mergeSchema", "true").schema(schema).parquet(streaming_data_path)

In [14]:
from pyspark.sql.functions import isnan, when, count, col

In [24]:
not_date = list(set(data.columns) - {'hour', 'date'})

In [26]:
nulls = data.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in data[not_date].columns])

In [29]:
nulls.toPandas().transpose().sort_index()

                  0
C1                0
C14               0
C15               0
C16               0
C17               0
C18               0
C19               0
C20               0
C21               0
app_category      0
app_domain        0
app_id            0
banner_pos        0
click             0
device_conn_type  0
device_id         0
device_ip         0
device_model      0
device_type       0
id                0
site_category     0
site_domain       0
site_id           0
time              0

apply type changes to data

['hour']
['date']
['click', 'time']
['id', 'C1', 'banner_pos', 'site_id', 'site_domain', 'site_category', 'app_id', 'app_domain', 'app_category', 'device_id', 'device_ip', 'device_model', 'device_type', 'device_conn_type', 'C14', 'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'C21']

In [ ]:
schema = define_schema(timestamp_fields, date_fields, long_fields, string_fields)